rich
markdown-it-py
gym==0.21.0
torch==2.0.1
numpy==1.21.5
keras
seaborn
ipykernel
stable-baselines3[extra]
tensorboard
scikit-learn
matplotlib==3.7.1
pandas==1.4.4
dash
flask
statsmodels
plotly
openai
httpx
requests
beautifulsoup4
jsonlines
backoff